:root {
    --roxo-branco: #E6E6FA;
    --roxo-rosado: #DDA0DD;
    --roxo-claro: #C9A0DC;
    --roxo-forte: #9966CC;
    --roxo-fundo: #391C55;
    --amarelo-contraste: #F6C445;
    --preto-puro: #000000;
    --branco-puro: #fff;
}