@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --laranjinha: #FC6445;
    --roxo-escuro: #391C55;
    --roxo-padrao: #9966CC;
    --roxo-craro: #C9A0DC;
    --rosa: #DDA0DD;
    --branquin: #E6E6FA;
    --fonte-padrao: "Nunito Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    background-color: var(--roxo-escuro);
}

.botaos{
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0s; 
    display: flex;
    width: 98%;
    height: 98%;
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
}

#direita{
    width: 60px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: var(--rosa);
    background:
        linear-gradient(var(--rosa), var(--rosa)) padding-box,
        linear-gradient(to right, var(--rosa), var(--roxo-padrao)) border-box;
    font-weight: 500px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}