@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --roxo-branco: #E6E6FA;
    --roxo-rosado: #DDA0DD;
    --roxo-claro: #C9A0DC;
    --roxo-forte: #9966CC;
    --roxo-medio: #813AC5;
    --roxo-fundo: #251237;
    --roxo-fundo-sombra: rgba(0, 0, 0, 0.25);
    --amarelo-contraste: #F6C445;
    --preto-puro: #000000;
    --branco-puro: #fff;
    --fonte-padrao: "Nunito Sans", sans-serif;
    --fonte-titulo: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(131deg, var(--roxo-fundo, #251237) 22.69%, #451A6D 58.53%, #4F1783 85.31%, var(--roxo-medio) 107.41%);
}

.content{
    margin-left: 150px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    width: 80%;
    height: 75%;
    padding: 120px;
}

#title{
    margin-top: -130px;
    
    font-family: var(--fonte-titulo);
    font-size: 100px;
    font-weight: 600;

    background: linear-gradient(to right, var(--amarelo-contraste), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.5s;
}

#info{
    margin-top: -10px;
    color: var(--branco-puro);
    font-size: 20px;
    font-family: var(--fonte-padrao);
    font-weight: 100;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.8s;
}

.exemplo3{
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 1s;
    margin-left: -50px;
    margin-top: 30px;
}

.ex3{
    width: 310px;
}

.botao{
    border: 2px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.exemplo4{
    align-self: flex-end;
    margin-top: -570px;
    margin-left: 0px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 1.2s;
}

.ex4{
    width: 490px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 1.2s;
}



.botaos{
    display: flex;
    width: 99%;
    height: 94%;
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    gap: 4px;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0s;

}
 
#direita{
    width: 60px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    background-color: var(--roxo-fundo);
    background:
        linear-gradient(var(--roxo-fundo), var(--roxo-fundo)) padding-box,
        linear-gradient(to right, var(--roxo-fundo), var(--amarelo-contraste)) border-box;
    font-weight: 500px;
}

#esquerda{
    width: 60px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    background-color: var(--roxo-fundo);
    background:
        linear-gradient(var(--roxo-fundo), var(--roxo-fundo)) padding-box,
        linear-gradient(to left, var(--roxo-fundo), var(--amarelo-contraste)) border-box;
    font-weight: 500px;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}